<stylesheet>
    <dynamic-page margin="35" margin-bottom="50" margin-top="55" font-size="9"></dynamic-page>

    <td border.type="none"></td>
    <td class="static-width-tiny" width="50"></td>
    <td class="static-width-small" width="70"></td>
    <td class="static-width-medium text center" width="100"></td>
    <td class="static-align" text-align="right"></td>
    <td class="top-bottom-padding" padding-top="5" padding-bottom="5"></td>
    <td class="top-bottom-padding-small" padding-top="2" padding-bottom="5"></td>
    <td class="top-border-1" border-color="black" border-type="top" border-style="solid" border-size="1" padding-top="5" padding-bottom="5"></td>
    <td class="top-border-3" border-color="black" border-type="top" border-style="solid" border-size="3" padding-top="5" padding-bottom="5"></td>
    <span class="small" font-size="9"></span>
    <td class="none" color="silver"></td>
</stylesheet>
