$primary-color: #f2e4fe;
$secondary-color: purple;

body {
    font-family: Calibri;
}

.button {
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 4px;
    border: 1px solid $secondary-color;
    padding: 0.5rem 0.5rem;
}
.button:hover{
    background-color: $secondary-color;
    color: $primary-color;
    box-shadow: 3px 3px 3px $secondary-color;
    border: 1px solid $primary-color;
}
h1 {
    text-align: center;
    background-color: $primary-color;
}
h3, h5 {
    text-align: center;
}
a {
    text-decoration: none;
}

.container-user {
    display: flex;
    float:right;

    .button-logout {
        display:flex;
        flex-shrink: 2;
        padding: 0.5rem 0.5rem;
    }
}
#userLoggedIn {
    margin: 1rem 1rem;
}
ul {
    list-style-type: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 1rem;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: $primary-color;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px $secondary-color;
    z-index: 1;
   

    a {
        color: $secondary-color;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      a:hover {
        background-color: $secondary-color;
        color: white;

      }
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
    
  }

  input[type=tekst] input[type=number], input[type=password] {
      border-radius: 2px;
      height: 1rem;
      margin: 1rem 1rem;
  }

  .logo {
    display: block;
    margin-right: 57%;
    margin-left: 43%;
    width: 150px;
    height: 150px;
  }