@charset 'utf-8';

@import 'settings';
@import '~foundation-sites/scss/foundation';

@import "utils/utils";
@import "init";

$flex: true;
@include foundation-everything($flex);

$primary-color: purple;
$secondary-color:  #f2e4fe;

body {
    font-family: Calibri;
}

.button {
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 4px;
    border: 1px solid $secondary-color;
    padding: 0.5rem 0.5rem;
}
.button:hover{
    background-color: $secondary-color;
    color: $primary-color;
    box-shadow: 3px 3px 3px $secondary-color;
    border: 1px solid $primary-color;
}

h3 {
    // background-color: $primary-color;
    background-image: linear-gradient(to right, #6e97f0, $primary-color);
    text-align: center;
    width: 101vw;
    margin-left: -1vw;
    color: white;
}

h4 {
    text-align: center;
}

a {
    text-decoration: none;
}

.container-user {
    display: flex;


    .button-logout {
        display:flex;
        flex-shrink: 2;
        padding: 0.5rem 0.5rem;
    }
}
#userLoggedIn {
    margin: 1rem 1rem;
}
ul {
    list-style-type: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: $primary-color;
    margin-left: 1rem;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: $primary-color;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px $secondary-color;
    z-index: 1;
   

    a {
        color: $secondary-color;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      a:hover {
        background-color: $secondary-color;
        color: $primary-color;

      }
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }


  .logo {
    // display: block;
    // margin-right: 57%;
    // margin-left: 43%;
    margin-bottom: 2%;
    margin-top: 1%;
    width: 15vw;
    height: 15vw;
    border-radius: 150px;
    border: 1px $primary-color solid;
    box-shadow: 1px 1px 5px $primary-color;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .flash-success {
    background-color: rgba(134, 226, 213, 0.5);
    border-radius: 5px;
    padding: 1rem 2rem;
    position: fixed;
    right: 0;
    bottom: 20%;
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.25);
}

.flash-success msg {
    color: black;
}

@media only screen and (max-width: 600px) {
.flash-success {
    overflow: auto;
    }

.flash-success msg {
        color: black;
        padding: 2rem;
    }

}
