$primary-color: #cbc0ff;
$secondary-color: purple;

body {
    font-family: 'Arial', Courier, monospace;
}

.button {
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 4px;
    padding: 1rem 1rem;
}
.button:hover{
    background-color: $secondary-color;
    color: $primary-color;
    box-shadow: 3px 3px 3px $secondary-color;
}
h1 {
    justify-content: center;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
