        

 <img src="{{ absolute_url(asset('build/images/logo.jpeg')) }}" 
            style="width:150px;height:150px;border-radius:150px;
            display:block;margin-left:auto;margin-right:auto;">

       <hr style="width:90%;color:purple;border-radius:25px;"/>
        
       <p style="margin-top:25px;padding:25px25px;">
            <i>{{ contentMessage }}</i>
        </p>
        
        Met vriendelijke groeten,
        <br>
        <br>
        <br>
        Silvija Ilic
