{% extends 'base.html.twig' %}

{% block body %}
    <h4>Leverancier opslaan</h4>

    {{ form_start(form) }}
        {# {{ form_widget(form) }} #}
        <input type="submit" value="Opslaan" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('supplier_index') }}">Overzicht</a>
        </li>
    </ul>
{% endblock %}
